<!-- 
    This templates does not have the content tags, because is it to be included in another template.
    It will be displayed in a modal.
-->
<section>
    <div class="container">
        <div class="row">
            <div class="">
                <h2 class="subheading">Delete Account</h2>
    
                <p>Are you sure you want to delete your account?</p>
                <small>You will not be able to restore your data</small>
            </div>
        </div>
        <div class="row">
    
                <form method="post" action="{% url 'delete_account' pk=user.pk %}" class="delete-user-form">
                    {% csrf_token %}
                    <!-- This is the checkbox from the UserDeleteForm.
                    The user_delete_form is passed to the profile view -->
                    {{ user_delete_form.delete }}

                    {{ user_delete_form.errors }}

                    <label>I confirm that I wish to delete my account.</label>

                    {% for hidden in user_delete_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    

                    <button class="btn center" type="submit">Delete</button>
                </form>

        </div>
    </div>
</section>