{% extends "base.html" %}
<!-- 
    This template is the custom template for the email confirmation page.
    It is used to customize the email_confirm template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
 -->
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="subheading">{% trans "Confirm E-mail Address" %}</h1>
    
                {% if confirmation %}
    
                {% user_display confirmation.email_address.user as user_display %}
    
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
    
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button type="submit" class="btn action-btn">{% trans 'Confirm' %}</button>
                </form>
    
                {% else %}
    
                {% url 'account_email' as email_url %}
    
                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    
                {% endif %}
    
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>

</section>

{% endblock %}