{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Welcome to Yummy.
                Please, sign up to start saving your recipes.<a class="link" href="{{ signup_url }}">Sign up</a>
                {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}