{% extends "base.html" %}

{% load i18n %}
<!--{% load account socialaccount %}-->

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="authentication-form valign-wrapper dark-text">
    <div class="container">
        <div class="go-back">
            <button class="btn-floating primary-3 light-text">
                <i class="lmedium material-icons">arrow_back</i>
            </button>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">{% trans "Log In" %}</h1>

                <p>{% blocktrans %} Don't have an account yet? <a class="link" href="{{ signup_url }}">Sign up</a>.
                    {% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form class="login center" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="login" id="id_login" required autofocus />
                        <label for="id_login">Username</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" autocomplete="current-password" id="id_password" required />
                        <label for="id_password">Password</label>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <div>
                        <button class="btn action-btn center" type="submit">{% trans "Log In" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}