<!-- 
    This template is to be used as part of another template, for this reason there are no content blocks.
    It will be displayed in a modal.
-->
{% load i18n %}

<section>
    <div class="container">
        <div class="row">
            <div class="">
                <h2 class="subheading">{% trans "Log Out" %}</h2>
    
                <p>{% trans 'Are you sure you want to log out?' %}</p>
            </div>
        </div>
        <div class="row">
            <div class="">
    
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn" type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</section>