{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section>
    <div class="container dark-text">
        <div class="row">
            <div class="col">
                <h1 class="subheading">{% trans "Password Reset" %}</h1>
        
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.{% endblocktrans %}</p>        
            </div>
        </div>
    
        <div class="row">
            <!-- Action buttons -->
            <ul class="col s12 center">
                <li><a href="{% url 'home' %}" class="btn action-btn">Go Home</a></li>
            </ul>
        </div>
    
    </div>
</section>
{% endblock %}