{% extends "base.html" %}

{% load i18n %}
<!-- 
    This is the template for the password reset page.
    It is used to customize the password_reset template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
 -->
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="authentication-form valign-wrapper dark-text">
    <div class="container">
        <div class="go-back">
            <button class="btn-floating primary-3 light-text">
                <i class="lmedium material-icons">arrow_back</i>
            </button>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset center">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                        </div>
                        {% if field.help_text %}
                                <p class="help-text">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <input class="btn action-btn" type="submit" value="{% trans 'Reset My Password' %}">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
