{% extends "base.html" %}

{% load i18n %}
<!--
    This is the template for the password reset done page.
    It is used to customize the password_reset_done template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
-->
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section>
    <div class="container dark-text">

        <div class="row">
            <div class="col s12">
                <h1 class="subheading">{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
        <div class="row">
            <!-- Action buttons -->
            <ul class="col s12 center">
                <li><a href="{% url 'account_login' %}" class="btn action-btn">Login</a></li>
                <li><a href="{% url 'home' %}" class="btn action-btn">Go Home</a></li>
            </ul>
        </div>
    
    </div>
</section>
    
{% endblock %}