{% extends "base.html" %}

<!-- 
    This template is the custom template for the password change page.
    It is used to customize the password_change template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
-->

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- Messages -->
<section id="messages">
    <div class="container">
        <ul class="messages-list">
            {% for message in messages %}
                <li>
                    <p>{{ message }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="authentication-form valign-wrapper dark-text">
    <div class="container">
        <div class="go-back">
            <button class="btn-floating primary-3 light-text">
                <i class="lmedium material-icons">arrow_back</i>
            </button>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">{% trans "Change Password" %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                        </div>
                        {% if field.help_text %}
                                <p class="help-text">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    
                    <button type="submit" name="action" class="btn-small">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}