{% extends "base.html" %}

<!--
    This is the template for the password reset page.
    It is used to customize the password_reset template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
-->
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="authentication-form valign-wrapper dark-text">
    <div class="container">
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <form method="POST" action="{{ action_url }}" class="center">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                            </div>
                            {% if field.help_text %}
                                    <p class="help-text">{{ field.help_text|safe }}</p>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <input class="btn action-btn" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}