{% extends "base.html" %}

<!--{% load i18n %}
{% load account socialaccount %}-->

{% block title %}Profile{% endblock %}

{% block content %}
<!-- Messages -->
<section id="messages">
    <div class="container">
        <ul class="messages-list">
            {% for message in messages %}
                <li>
                    <p>{{ message }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- Profile details -->
<section class="valign-wrapper dark-text">
    <div class="container">
        <div class="go-back">
            <button class="btn-floating primary-3 light-text">
                <i class="lmedium material-icons">arrow_back</i>
            </button>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">

                <div class="user-profile-header">
                    <div class="user-image">
                        {% if user_profile_image == None %}
                            <i class="material-icons dark-text">
                                account_circle
                            </i>
                        {% else %}
                            <img src="{{ user_profile_image.profile_image.url }}" alt="Profile Image" />
                        {% endif %}
                    </div>
                    <button type="button" id="edit-profile-image-btn" data-target="id_profile_image" class="btn-floating">
                        <i class="material-icons">photo</i>
                    </button>

                    <form id="profile-image-form" method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ user_image_form.profile_image }}

                        {% for hidden in user_image_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <button class="hidden" type="submit" name="profile-image-submit">Save</button>

                    </form>
                </div>
                
                <form id="user-details-form" method="post" action="{% url 'profile' %}">
                    {% csrf_token %}

                    {% for hidden in user_details_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    
                    {% for field in user_details_form %}
                    <div class="profile-form-line">
                        <p>{{ field.label }}: {{ field.value }}</p> 
                        <button type="button" data-target="id_{{ field.name }}" class="edit-profile-btn btn-floating background-alert">
                            <i class="material-icons">edit</i>
                        </button>
                    </div>
                    <div class="row hidden">
                        <div class="input-field col s12">
                            {{ field }} <button class="small-btn" type="submit" name="user-details-submit">Save</button>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.help_text %}
                                <span class="help-text">{{ field.help_text }}</span>
                            {% endif %}
                            {% for error in field.errors %}
                                <span class="help-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </form>

                <div class="user-profile-footer">
                    <a href="{% url 'account_logout' %}" class="btn btn-invert">Logout</a>
                    <a href="#">Delete account</a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}