{% extends "base.html" %}

{% load i18n %}
<!--
    This is the template for the signup page.
    It is used to customize the signup template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
-->

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- Authentication Form -->
<section class="authentication-form valign-wrapper dark-text">
    <div class="container">
        <div class="go-back">
            <button class="btn-floating primary-3 light-text">
                <i class="lmedium material-icons">arrow_back</i>
            </button>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">{% trans "Sign Up" %}</h1>

                <!-- The user can go to the login page directly if they already have an account -->
                <p>{% blocktrans %}Welcome to Yummy. Do you already have an account? Then please <a
                        class="link" href="{{ login_url }}">log in</a> instead.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form class="signup center" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                        </div>
                        {% if field.help_text %}
                                <p class="help-text">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                    {% endfor %}

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn action-btn center" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}