{% extends "base.html" %}

{% load i18n %}

<!--
    This is the template for the verification sent page.
    It is used to customize the verification_sent template from the allauth package.
    The base template was initially taken from the following link: https://github.com/pennersr/django-allauth/tree/master/allauth/templates/account
    The base template was then modified to fit the needs and the style of the project.
-->

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="subheading">{% trans "Verify Your E-mail Address" %}</h1>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <!-- Action buttons -->
            <ul class="col s12 center">
                <!-- The user can go back to the home page -->
                <li><a href="{% url 'home' %}" class="btn action-btn">Go Home</a></li>
            </ul>
        </div>
    
    </div>
</section>
{% endblock %}