/* ----------------------------------------------- Generic CSS */
:root {
    /* Fonts */
    --font-basic: 'Source Sans Pro', sans-serif;
    --font-headers: 'Quicksand', sans-serif;

    /* Primary Color Gradient */
    --clr-primary-0: #A0EAA7;
    --clr-primary-1: #6BCBA6;
    --clr-primary-2: #44AAA0;
    --clr-primary-3: #328890;
    --clr-primary-4: #306777;
    --clr-primary-5: #2F4858;

    /* Secondary color */
    --clr-secondary: #E3E4D4;
    --clr-secondary-1: #5e6563;

    /* Tertiary colors */
    --clr-tertiary-0: #00B1FF;
    --clr-tertiary-1: #FB7B7C;
    --clr-tertiary-2: #FFDC82;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-basic);
    color: var(--clr-primary-5);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headers);
    font-size: 2.5rem;
}

h3,
h4,
h5 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    color: var(--clr-primary-3);
    font-weight: 600;
}

nav ul a::after,
.sidenav li>a::after,
.side-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--clr-primary-3);
    transition: width .3s;
}

nav ul a:hover,
.sidenav li>a:hover {
    background-color: inherit;
}

nav ul a:hover::after,
.sidenav li>a:hover::after,
.side-link:hover::after {
    width: 100%;
    transition: width .3s; 
}

section {
    margin-block: 5vw;
}

.section-header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.side-link {
    margin: 3rem 0 1rem 0;
    align-self: self-end;
}

#logo {
    font-family: var(--font-headers);
    font-size: 4rem;
    font-weight: 400;
}

.subheading {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

.center {
    margin: 0 auto;
}

.primary-0 {
    background-color: var(--clr-primary-0);
}
.primary-1 {
    background-color: var(--clr-primary-1);
}
.primary-2 {
    background-color: var(--clr-primary-2);
}
.primary-3 {
    background-color: var(--clr-primary-3);
}

.background-error {
    background-color: var(--clr-tertiary-1);
}

.light-text {
    color: var(--clr-secondary);
}

.dark-text {
    color: var(--clr-primary-5);
}


/* ----------------------------------------------- Override input Materialize CSS style */
input.invalid:not([type]), 
input.invalid:not([type]):focus, 
input.invalid[type=text]:not(.browser-default), 
input.invalid[type=text]:not(.browser-default):focus, 
input.invalid[type=password]:not(.browser-default), 
input.invalid[type=password]:not(.browser-default):focus, 
input.invalid[type=email]:not(.browser-default), 
input.invalid[type=email]:not(.browser-default):focus, 
input.invalid[type=url]:not(.browser-default), 
input.invalid[type=url]:not(.browser-default):focus,  
input.invalid[type=number]:not(.browser-default), 
input.invalid[type=number]:not(.browser-default):focus, 
textarea.materialize-textarea.invalid, 
textarea.materialize-textarea.invalid:focus, 
.select-wrapper.invalid>input.select-dropdown, 
.select-wrapper.invalid>input.select-dropdown:focus {
    border-bottom: 1px solid var(--clr-tertiary-1);
    -webkit-box-shadow: 0 1px 0 0 var(--clr-tertiary-1);
    box-shadow: 0 1px 0 0 var(--clr-tertiary-1);
}

.input-field>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label, 
.input-field>input[type=date]:not(.browser-default)+label, 
.input-field>input[type=time]:not(.browser-default)+label {
    -webkit-transform: translateY(-20px) scale(0.9);
    transform: translateY(-20px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: var(--clr-primary-4);
}


/* ----------------------------------------------- Landing page before authentication */
.landingpage {
    position: relative;
    height: 100%;
    margin: 0;
    width: 100%;
    background: var(--clr-primary-5) url('https://res.cloudinary.com/dmmlypujq/image/upload/v1676911263/yummy/background_hsjgqs.jpg') no-repeat center center/cover;
    color: var(--clr-secondary);
    isolation: isolate;
}

.landingpage::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.415), 20%,  black);
    z-index: -1;
}


.action-btn {
    width: 90%;
    height: fit-content;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--clr-primary-3);
    background-color: var(--clr-primary-3);
    color: var(--clr-secondary);
    line-height: normal;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-invert {
    background-color: transparent;
    color: var(--clr-secondary);
}

.action-btn:hover {
    background-color: var(--clr-primary-2);
    border: 2px solid var(--clr-primary-2);
    color: var(--clr-primary-5);
}

.errorlist {
    color: var(--clr-tertiary-1);
}

/* ----------------------------------------------- Forms */
.go-back,
.go-home {
    margin:.5em 0 1.5em 0;
}

form {
    max-width: 500px;
    position: relative;
}

.form-header {
    max-width: 500px;
    margin-bottom: 2em;
}

input {
    background-color: transparent;
    color: var(--clr-primary-4);
    font-family: var(--font-headers);
    font-size: 1.2em;
}

.input-field > label {
    color: var(--clr-secondary-1);
    font-size: 1.4rem;
}

.label-left {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.input-field.small-input {
    max-width: 300px;
}

.select-wrapper {
    width: 60px;
}

.input-field.small-input > * {
    position: relative;
}

label > span {
    font-size: smaller;
    color: var(--clr-secondary-1);
}

input.invalid {
    border-bottom: 1px solid var(--clr-tertiary-1);
    -webkit-box-shadow: 0 1px 0 0 var(--clr-tertiary-1);
    box-shadow: 0 1px 0 0 var(--clr-tertiary-1);
}

.mandatory-fields {
    display: block;
    font-size: 1.1em;
    text-align: left;
    color: var(--clr-primary-2);
    margin-block: 10px;
    border-top: 1px dotted var(--clr-primary-2);
}
#valid-tags {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.hashtag {
    background-color: var(--clr-primary-4);
    color: var(--clr-secondary);
    padding: .3em .5em;
    margin: .3em .5em;
    border-radius: 3px;
    text-transform: lowercase;
}
/* ----------------------------------------------- Multiple entry form fields (ingredients/steps) */

#add-ingredients {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 .5em;
}

fieldset {
    border-color: var(--clr-secondary);
}

fieldset > legend {
    padding-inline: 1em;
    color: var(--clr-primary-4);
    font-size: 1.5em;
    font-family: var(--font-headers);
}

.btn-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

#ingredients-list {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--font-headers);
}

#ingredients-list:has(div):before {
    content: "Ingredients";
    display: block;
    color: var(--clr-primary-4);
    font-size: 1.3em;
    font-family: var(--font-headers);
}

.btn-floating.remove-ingredient {
    background-color: transparent;
    border: 1px solid var(--clr-tertiary-1);
    margin-inline: 1em;
}

.ingredient-line {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em;
    padding: .5em 0;
}

.btn-floating.remove-ingredient > i {
    color: var(--clr-tertiary-1);
}

.btn-floating.remove-ingredient:hover {
    background-color: var(--clr-tertiary-1);
}

.btn-floating.remove-ingredient:hover > i {
    color: white;
}


/* ----------------------------------------------- Header */
nav {
    height: fit-content;
    padding-top: 1em;
}

.user {
    display: inline-block;
}

.user-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    font-family: var(--font-headers);
    font-size: 2rem;

}

.user-handle a {
    display: inline-block;
}

.user-handle a > i {
    font-size: 2em;
}

.main-nav li>a,
.sidenav li>a {
    color: var(--clr-primary-4);
    font-size: 1.5rem;
}

.sidenav {
    display: flex;
    flex-direction: column;
}

.push-down {
    margin-top: auto;
}

.push-up {
    margin-bottom: auto;
}


/* ----------------------------------------------- Recipes View */

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.horizontal-scroll {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(250px, 31%);
    gap: .5em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 10px;
  }

.horizontal-scroll > * {
    scroll-snap-align: start;
}

.recipe-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 300px;
    padding: 1.5em .7em;
    margin-bottom: 1em;
    overflow: hidden;
    background-color: var(--clr-primary-5);
    color: var(--clr-secondary);
    isolation: isolate;
    transition: .2s ease-in;
    filter: grayscale(90%);	
}

.recipe-card > img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.recipe-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), 50%,  black);
    z-index: -1;
}

.recipe-card:hover {
    transform: scale(1.0125);
    filter: grayscale(20%);
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--clr-secondary);
    opacity: .5;
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--clr-primary-5);
    border-radius: 10px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary-4); 
  }


/* ----------------------------------------------- Recipe Detail */

section.recipe-detail-section {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.recipe-detail-background {
    height: calc(100vh - 150px);
    height: calc(100dvh - 150px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background-color: var(--clr-primary-5);
    z-index: -1;
}

.recipe-detail-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-image {
    position: relative;
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 2em 5em;
    overflow: hidden;
    background-color: var(--clr-primary-5);
}

.recipe-detail::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 200px;
    height: 7px;
    background-color: var(--clr-secondary);
    border-radius: 1000000px;
    transform: translate(-50%);
}

.recipe-detail {
    position: relative;
    width: 100%;
    margin-top: -40px;
    background-color: white;
    border-radius: 30px 30px 0 0;
    z-index: 1;
}

.recipe-detail > * {
    margin: 0 auto;
}

.recipe-detail-container {
    padding: 2em;
}

.recipe-detail-title {
    padding: 2em;
}
.recipe-detail-title > h1 {
    margin-bottom: 0;
}

.recipe-detail-separator {
    border: 5px solid var(--clr-secondary);
}

.ingredient-line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-secondary);
}
.ingredient-line > p:first-child:first-letter,
.step::first-letter {
    text-transform: uppercase;
}

.ingredient-quantity {
    margin-left: auto;
}

.step-counter > li > span {
    display: flex;
}

.step-counter {
    counter-reset: li;
}

.step-counter span::before {
    counter-increment: li;
    content: counter(li) ". ";
    margin-right: .5em;
    font-size: 1.4em;
}

/* ----------------------------------------------- Footer */

footer {
    background-color: var(--clr-primary-5);
    color: var(--clr-secondary);
    text-align: center;
}

footer p {
    font-size: 1em;
    margin: .8em;
}

footer ul > li{
    display: inline-block;
    margin: .8em;
}

footer a {
    color: var(--clr-primary-0);
}

footer a:hover {
    color: var(--clr-tertiary-0);
}


/* ----------------------------------------------- Media Queries */
@media only screen and (min-width: 992px) {
    section.recipe-detail-section {
      flex-direction: row;
    }

    .recipe-detail {
        width: 98%;
        max-width: 1400px;
        margin: 0 auto;
        border-radius: 0;
    }

    .recipe-detail::before {
        display: none;
    }

    .recipe-detail-body {
        display: flex;
        gap: 3em;
    }
  }