{% extends "base.html" %}

<!--
    This is the custom 404 page.
-->

{% block title %}Error 404{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="subheading">Error 404</h1>
                </div>
        </div>
        <div class="row">
            <p>Page not found.</p>
            <!-- Action buttons -->
            <ul class="col s12 center">
                <!-- The user can go back to the home page -->
                <li><a href="{% url 'home' %}" class="btn action-btn">Go Home</a></li>
            </ul>
        </div>
    
    </div>
</section>
{% endblock %}