{% extends 'base.html' %}
<!--
    This cutom form is used to add a new recipe.
-->

{% load cloudinary %}

{% block title %}Yummy - Add Recipe{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<section class="valign-wrapper dark-text">
    <div class="container">
        <!-- Go back button -->
        <div class="go-home tooltipped" data-position="bottom" data-tooltip="Go back">
            <button class="btn-floating primary-3 light-text">
                <i class="material-icons">arrow_back</i>
            </button>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">Add Recipe</h1>
            </div>
        </div>

        <!-- 
            The add recipe form includes the recipe-form, used to edit recipes as well.
            For this reason the form tag is not included in the general recipe-form, because the form id and action are different.
        -->
        <div class="row">
            <div class="col s12">
                <form class="center recipe_form" enctype="multipart/form-data" id="add_recipe_form" method="post" action="{% url 'add_recipe' %}">
                {% include 'recipe_form.html' %}
                </form>
            </div>
        </div>
    </div>
</section>
{% else %} 

<section>
    <div class="container">
        <h1>Please, <a href="{% url 'account_login' %}">log in</a> to add new recipes.</h1>

        <p><a href="{% url 'home' %}">Go home</a></p>
        
    </div>
</section>

{% endif %}

{% endblock %}
