<!--
    This is the formset for the steps of the procedure.
    It is included in the recipe_form.html template.
-->
<div class="row">
    <p class="left grey-text">Procedure</p>
</div>

{% if steps_formset %}

<div id="steps-container">  
{{ steps_formset.management_form }}
    
    {% for form in steps_formset %}
    <!-- 
        Because it is used both for the 'add' and the 'edit' functionality,
        we check first if there is any previous form added to the formset.
        If so, we display them and populate with the existing data.
    -->
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class="steps-form">
        <div class="btn-container">
            <!--
                This is the delete step button. 
                When clicked it hides the current form, and it checks the associated 'DELETE' field, 
                which is hidden by default
            -->
            <div class="tooltipped btn-container" data-position="bottom" data-tooltip="Remove Step">
                <button type="button" class="btn-floating primary-3 light-text remove-step">
                    <i class="material-icons">remove</i>
                </button>
            </div>
        </div>
        <div class="row steps-formset">
        {% for field in form.visible_fields %}
            <!-- This is the hidden 'DELETE' field, which (if checked), deletes the current form from the formset -->
            {% if field.name == 'DELETE' %} 
            <div class="hidden">
                {{ field }}
            </div>

            {% else %}

            <div class="input-field">
                {{ field }}
                <label for="{{ field.id_for_label }}">What to do next...</label>
            </div>
            {{ field.errors }}

            {% endif %}
        {% endfor %}
        </div>
    </div>

    {% endfor %}

    <!-- 
        This is the empty form, which is used to add new steps to the formset.
        It is hidden by default, and it is used as blueprint for the new forms.
        It works the same way as the previous forms
     -->
    <div id="empty-step-form" class="hidden">
        <!-- Remove steps buttonn. When clicked it checks the related 'DELETE' checkbox -->
        <div class="tooltipped btn-container" data-position="bottom" data-tooltip="Remove Step">
            <button type="button" class="btn-floating primary-3 light-text remove-step">
                <i class="material-icons">remove</i>
            </button>
        </div>
        <div>
            <div class="row steps-formset">
            {% for field in steps_formset.empty_form.visible_fields %}
                <!-- hidden delete field -->
                {% if field.name == 'DELETE' %} 
                <div class="hidden">
                    {{ field }}
                </div>

                {% else %}

                <div class="input-field">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">What to do next...</label>
                </div>
                {{ field.errors }}

                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- End of empty form -->
</div>

<div class="btn-container">
    <!-- This buttons triggers the js function that copies the empty form to create a new step form -->
    <button type="button" id="add-step-btn" class="tooltipped btn primary-3 light-text" data-position="bottom" data-tooltip="Add Step">
        Add Step
    </button>
</div>

{{ steps_formset.non_form_errors}}

{% endif %}
