{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Save your recipes and have them always with you.">
    <meta name="keywords" content="recipe book cooking">
    <meta name="author" content="Elisa Sacchelli">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <title>
        {% block title %}
        Yummy - Recipe book
        {% endblock title %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- JQuery CDN link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %}"></script>


</head>

<body>
    <header>
        {% block header %}
        <!-- Header Goes here -->
        {% endblock header %}
    </header>

    <!-- Messages -->
    <div id="messages">
        <div class="container">
            <ul class="messages-list">
                {% for message in messages %}
                    <li>
                        <p>{{ message }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p class="col s12 l6">Powered by Elisa Sacchelli</p>
                <ul class="socials s12 m6">
                    <li><a href="https://linkedin.com/in/elisa-sacchelli">Linkedin</a></li>
                    <li><a href="https://github.com/EliSacch">Github</a></li>
                </ul>
            </div>
        </div>   
    </footer>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
</body>

</html>