{% extends 'base.html' %}

{% block title %}Yummy - Edit Recipe{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- Messages -->
<section id="messages">
    <div class="container">
        <ul class="messages-list">
            {% for message in messages %}
                <li>
                    <p>{{ message }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="valign-wrapper dark-text">
    <div class="container">
        <!-- Go back button -->
        <div class="go-back">
            <a class="tooltipped" data-position="bottom" data-tooltip="Go back">
                <button class="btn-floating primary-3 light-text">
                    <i class="lmedium material-icons">arrow_back</i>
                </button>
            </a>
        </div>
        <div class="row form-header">
            <div class="col s12">
                <h1 class="subheading">Edit Recipe</h1>
            </div>
        </div>

        <!-- Edit recipe form -->
        <div class="row">
            <div class="col s12">
                <form class="center recipe_form" enctype="multipart/form-data" id="edit_recipe_form" method="post" action="{% url 'edit_recipe' pk=form.instance.pk %}"> 
                    {% include 'recipe-form.html' %}
                </form>
            </div>
        </div>
    </div>
</section>
{% else %} 

<section>
    <div class="container">
        <h1>Please, <a href="{% url 'account_login' %}">log in</a> to log in to edit recipes.</h1>

        <p><a href="{% url 'home' %}">Go home</a></p>
        
    </div>
</section>

{% endif %}

{% endblock %}
