<nav class="nav-wrapper transparent">
    <div class="container dark-text">

        <div class="user">
            <div class="user-handle">
                <a href="#">
                    <i class="material-icons dark-text">
                        account_circle
                    </i>
                </a>
    
                Hi, {{ user.username }}
                
            </div>
        </div>

        <ul class="main-nav right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
            <li><a class="waves-effect waves-light modal-trigger" href="#logout-modal">Log Out</a></li>
        </ul>

        <a href="#" class="sidenav-trigger right hide-on-large-only" data-target="mobile-nav">
            <i class="material-icons dark-text">menu</i>
        </a>

    </div>
</nav>

<ul class="sidenav main-nav right hide-on-large-only" id="mobile-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
    <li><a href="">All Categories</a></li>
    <li><a href="{% url 'my_recipes' %}">All recipes</a></li>
    <li class="push-down"><a href="">Profile</a></li>
    <li class="push-up"><a class="waves-effect waves-light modal-trigger" href="#logout-modal">Log Out</a></li>
</ul>