{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>Welcome</h1>

{% else %}

<section class="landingpage valign-wrapper">
    <div class="container">
        <div class="row">
            <h1 id="logo" class="col s12">Yummy</h1>
            <h2 class="col s12 subheading">What are we cooking today?</h2>
        </div>

        <div>
            <!-- Action buttons -->
            <ul class="row center">
                <li class="col s12"><a href="{% url 'account_login' %}" class="btn action-btn">Login</a></li>
                <li class="col s12"><a href="{% url 'account_signup' %}" class="btn action-btn btn-invert">Signup</a></li>
            </ul>
        </div>

    </div>
</section>

{% endif %}

{%endblock%}