{% extends "base.html" %}

{% block header %}
    {% if user.is_authenticated %}
        {% include "header.html" %}
    {% else %}
    {% endif %}
{% endblock header %}


{% block content %}

{% if user.is_authenticated %}

    <!-- Search bar here when ready-->

    <!-- Categories -->
    <section class="categoriess">
        <div class="container">
            <h2>Categories</h2>
        </div>
    </section>

    <!-- Suggestions -->
    <section class="suggestions">
        <div class="container">
            <h2>Suggestions</h2>
            <div class="recipes-container horizontal-scroll">
                {% for suggestion in suggestions %}
            
                    <div class="recipe-card">
                        {% if "placeholder" in suggestion.image.url %}
                            <img src="https://res.cloudinary.com/dmmlypujq/image/upload/v1677435591/yummy/card-placeholder_zquyvl.jpg" alt="Plaseholder Image - bunch of vegetables">
                        {% endif %}

                        <h3>{{ suggestion.title }}</h3>
                        <p>Easy | 30 min</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

  <!-- Logout Modal -->
  <div id="logout-modal" class="modal">
    <div class="modal-content">
        {% include "account/logout.html" %}
    </div>
  </div>

{% else %}

<section class="landingpage valign-wrapper">
    <div class="container">
        <div class="row">
            <h1 id="logo" class="col s12">Yummy</h1>
            <h2 class="col s12 subheading">What are we cooking today?</h2>
        </div>

        <div>
            <!-- Action buttons -->
            <ul class="row center">
                <li class="col s12"><a href="{% url 'account_login' %}" class="btn action-btn">Login</a></li>
                <li class="col s12"><a href="{% url 'account_signup' %}" class="btn action-btn btn-invert">Signup</a></li>
            </ul>
        </div>

    </div>
</section>

{% endif %}

{%endblock%}