{% csrf_token %}


{% for field in form %}

    {% if field.name == "image" %}
    <div class="row">
        <div class="input-field small-input label-left">
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
        </br>
            {{ field }}
        </div>
        {{ field.errors }}
    </div>

    <div class="row">
        {% include 'add_ingredients.html' %}
    </div>

    {% elif field.name == "servings" %}
    <div class="row">
        <div class="input-field small-input label-left">
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
            {{ field }}
        </div>
        {{ field.errors }}
    </div>

    {% elif field.name == "procedure" %}
    <div class="row">

        {% include 'add_steps.html' %}

    </div>

    {% elif field.name == "preparation_time" %}
    <div class="row">
        <div class="input-field small-input label-left">
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
            {{ field }}
            <div class="row">
                <div class="col s6">
                    <label for="hours">Hours</label>
                <input type="number" id="hours" name="hours" min="0" {% if preparation_time is not None %} value="{{ preparation_time.hours }}" {% endif %}>
 
                </div>
                <div class="col s6">
                    <label for="minutes">Minutes</label>
                    <input type="number" id="minutes" name="minutes" min="0" {% if preparation_time is not None %} value="{{ preparation_time.minutes }}" {% endif %}>
                </div>
            </div>
        </div>
        
        {{ field.errors }}
    </div>

    {% elif field.name == "difficulty" %}
    <div class="row">    
        <label for="{{ field.id_for_label }}" class="left fixed-label">{{ field.label }}</label>
        <ul class="input-field difficulty-choices">
        {% for radio in field %}
            <li>
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
            </li>
        {% endfor %}
        </ul>
        {{ field.errors }}
    </div>
        
    {% elif field.name == "tags" %}
    <div class="row">
        <div class="input-field">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}<span>(Example: #easy #vegetarian)</span></label>
            <span id="valid-tags"></span>
        </div>
        {{ field.errors }}
    </div>

    {% elif field.name == "notes" %}
    <div class="row">
        <label for="{{ field.id_for_label }}" class="fixed-label">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
        <div class="input-field">
            {{ field }}
        </div>
        {{ field.errors }}
    </div>

    {% else %}
    <div class="row">
        <div class="input-field col s12">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
        </div>
        {{ field.errors }}
    </div>

    {% endif %}
    

{% endfor %}

<p class="mandatory-fields row">* Mandatory fields</p>

<!-- Submit button -->
<button class="btn action-btn center" type="submit">Save</button>