{% csrf_token %}

{% for field in form %}

    {% if field.name == "servings" %}
    <div class="row">
        <div class="input-field small-input label-left">
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
            {{ field }}
        </div>
        {{ field.errors }}
    </div>
        
    {% elif field.name == "tags" %}
    <div class="row">
        <div class="input-field">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}<span>(Example: #easy #vegetarian)</span></label>
            <span id="valid-tags"></span>
        </div>
        {{ field.errors }}
    </div>

    {% else %}
    <div class="row">
        <div class="input-field col s12">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
        </div>
        {{ field.errors }}
    </div>

    {% endif %}
    

{% endfor %}

{% include 'add_ingredients.html' %}

<p class="mandatory-fields row">* Mandatory fields</p>

<!-- Submit button -->
<button class="btn action-btn center" type="submit">Save</button>