{% extends "base.html" %}

{% block title %}Yummy - Recipe Detail{% endblock %}

{% if user.is_authenticated %}

    <!-- If the user currently logged in is the creator of this recipe, they are authorized to view it -->
    {% if user == recipe.user %}
        {% block content %}

        <section class="recipe-detail-section">

            <header class="recipe-detail-background hide-on-large-only">
                <!-- Go home button for small screens -->
                <div class="go-home tooltipped" data-position="bottom" data-tooltip="Go home">
                    <button class="btn-floating primary-3 light-text">
                        <i class="material-icons">arrow_back</i>
                    </button>
                </div>

                <div class="recipe-action-buttons hide-on-large-only">

                    <!-- Edit recipe button -->
                    <div class=" edit">
                        <a href="{% url 'edit_recipe' recipe.pk %}" class="tooltipped btn-floating background-alert light-text" data-position="bottom" data-tooltip="Edit">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>

                    <!-- Delete recipe button -->
                    <div class="delete">
                        <a href="#delete-recipe-confirmation-modal" class="tooltipped modal-trigger btn-floating background-error light-text" data-position="bottom" data-tooltip="Delete">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>

                </div>

                {% if "placeholder" in recipe.image.url %}
                <div class="image-placeholder-container">
                    <div class="food-icons-container">
                        <!-- The content of this placeholder div is generated randomply using a custom JS function ( random_icon() )-->
                    </div>
                </div>
                {% else %}

                <div class="recipe-detail-image-container">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-detail-image">
                </div>

                {% endif %}

                
            </header>

            <div class="recipe-detail">
                <!-- Go home button for large screens-->
                <div class="go-home tooltipped hide-on-med-and-down" data-position="bottom" data-tooltip="Go home">
                    <button class="btn-floating primary-3 light-text">
                        <i class="material-icons">arrow_back</i>
                    </button>
                </div>

                <div class="recipe-action-buttons hide-on-med-and-down">

                    <!-- Edit recipe button -->
                    <div class=" edit">
                        <a href="{% url 'edit_recipe' recipe.pk %}" class="tooltipped btn-floating background-alert light-text" data-position="bottom" data-tooltip="Edit">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>

                    <!-- Delete recipe button -->
                    <div class="delete">
                        <a href="#delete-recipe-confirmation-modal" class="tooltipped modal-trigger btn-floating background-error light-text" data-position="bottom" data-tooltip="Delete">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>

                </div>

                <div class="recipe-detail-header">
                    <div class="recipe-image hide-on-med-and-down">
                        {% if "placeholder" in recipe.image.url %}
                        <div class="image-placeholder-container">
                            <div class="food-icons-container">
                                <!-- The content of this placeholder div is generated randomply using a custom JS function ( random_icon() )-->
                            </div>
                        </div>
                        {% else %}

                        <div class="recipe-detail-image-container">
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-detail-image">
                        </div>
                        {% endif %}
                            
                    </div>
                    <div class="container recipe-detail-title">
                        <h1>{{ recipe.title }}</h1>
                        {% if recipe.preparation_time != None and recipe.difficulty != None %}
                            <!-- If the recipe has both a preparation time and a difficulty, display both -->
                            <p>{% if recipe.preparation_time.hours != 0 %}
                                    <!-- We display the hours just if not 0 -->
                                    {{ recipe.preparation_time.hours }}h
                                {% endif %}
                                {{ recipe.preparation_time.minutes }}m | {% for difficulty in difficulty_choices %}

                                {% if difficulty.0 == recipe.difficulty %}
                                    {{ difficulty.1 }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <!-- If there is a preparation time, but not a difficulty, we display the time only -->
                        {% elif recipe.preparation_time != None %}
                            <p>{{ recipe.preparation_time.hours }}h {{ recipe.preparation_time.minutes }}m</p>
                        <!-- If there is a difficulty, but not a preparation time, we display the difficulty ony -->
                        {% elif recipe.difficulty != None %}
                            {% for difficulty in difficulty_choices %}
                                {% if difficulty.0 == recipe.difficulty %}
                                    <p>{{ difficulty.1 }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- If there is no preparation time and no difficulty we don't display anything -->
                    </div>
                    
                </div>

                <hr class="recipe-detail-separator hide-on-large-only">

                <div class="recipe-detail-body">
                    <div class="recipe-detail-container ingrediens">
                        <div class="row">
                            <h2 class="left">Ingredients</h2>
                            <p class="right">Servings: {{ recipe.servings}}</p>
                        </div>
                        
                        <ul>
                            {% for ingredient in recipe.ingredients.all %}
                                <li class="row ingredient-line">
                                    <p>{{ ingredient.name }}</p>
                                    <p class="ingredient-quantity">
                                        {% if ingredient.amount != None %}
                                            {{ ingredient.amount }}
                                        {% endif %}
                                        {% if ingredient.unit != None %}
                                            {{ ingredient.unit }}
                                        {% endif %}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
    
                    <hr class="recipe-detail-separator hide-on-large-only">
    
                    <div class="recipe-detail-container procedure">
                        <h2>Procedure</h2>
                        <ol>
                            {% for step in recipe.procedure %}
                                <li class="row">
                                    <p class="step">{{ step }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <hr class="recipe-detail-separator hide-on-large-only">

                    {% if recipe.notes %}
                    <div class="recipe-detail-container notes">
                        <h2>Notes</h2>
                        <p>{{ recipe.notes }}</p>
                        
                    </div>
                    {% endif %}
                </div>
            </div>

        </section>


        <!-- Delete recipe modal -->
        <div id="delete-recipe-confirmation-modal" class="modal">
            <div class="modal-content">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="">
                                <h1 class="subheading">Delete Recipe</h1>
                    
                                <p>Are you sure you want to delete this recipe?</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <a href="{% url 'delete_recipe' recipe.pk %}" class="btn background-error light-text">Delete</a>
                                <a href="#!" class="modal-close transparent">Cancel</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {% endblock %}
    
    <!-- If the user currently logged in is not the creator of this recipe, they are not authorized to view it -->
    {% else %}
        <p>Recipe not found in your account.</p>
    {% endif %}

<!-- If the user is not logged in, they cannot see this page at all, and they need to log in or sign up -->
{% else %}
        <p>go home</p>
{% endif %}